<div class="titlu">
  <span>De ce liga ac?</span>
</div>
<div class="image-grid">
  <div class="image-card">
    <img src="./assets/images/2.jpg" alt="Imagine 1">
    <h3>Prieteni de pretutindeni!</h3>
    <p>Fiind o oraganizație într-o facultate cu peste 6000 de studenți, vei avea ocazia să cunoști oameni de peste tot!</p>
  </div>
  <div class="image-card">
    <img src="./assets/images/3.jpg" alt="Imagine 2">
    <h3>Experiențe de neuitat</h3>
    <p>Liga AC e plină de surprize!</p>
  </div>
  <div class="image-card">
    <img src="./assets/images/4.jpg" alt="Imagine 3">
    <h3>Te pregătești de viață!</h3>
    <p>Vei organiza proiecte, vei merge la diferite evenimente, vei lua decizii. Pe scurt, Liga AC te pregătește de viața de după facultate.</p>
  </div>
</div>
