<div class="titlu">
  <span>Departamente</span>
</div>
<div class="image-grid">
  <div class="image-card">
<!--    <img class="image" src="./assets/images/2.jpg" alt="Imagine 1">-->
    <h3 class="title">Educational</h3>
    <button class="button">Aplica!</button>
  </div>
  <div class="image-card">
    <img class="image" src="./assets/images/2.jpg" alt="Imagine 2">
    <h3 class="title">Financiar</h3>
    <button class="button">Aplica!</button>
  </div>
  <div class="image-card">
    <img class="image" src="./assets/images/2.jpg" alt="Imagine 2">
    <h3 class="title">Financiar</h3>
    <button class="button">Aplica!</button>
  </div>
  <div class="image-card">
    <img class="image" src="./assets/images/2.jpg" alt="Imagine 2">
    <h3 class="title">Financiar</h3>
    <button class="button">Aplica!</button>
  </div>
  <!-- Repetați pentru celelalte 4 imagini -->
</div>
